{not, only_child lets you have one list be one color and then the other list in the html}

.table{background-color: pink;
    font-size: 25px;
    width: fit-content;
    border: 5px solid blanchedalmond;
    padding: 5px;
    border-radius: 15px;
    font-size: 30px;
    display: inline-table;
    justify-content: right}
ol{ 
    font-size: 20;
    background-color: red;
    width: fit-content;
    border: 5px solid black;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 15px;
     }
ul{
        font-size: 20;
        background-color: burlywood;
        border: 5px solid black;
        border-radius: 15px;
        padding-left: 25px;
        padding-right: 2px;
        padding-top: 10px;
        padding-bottom: 15px;
        border-radius: 15px;
    }
.Fridge{background-color: pink;
    font-size: 25px;
    width: fit-content;
    border: 5px solid blanchedalmond;
    padding: 5px;
    border-radius: 15px;
    font-size: 30px;
    display: inline-table;
    justify-content: right
    }
        
.Cold-side{font-size: 20;
            background-color: rgb(159, 90, 0);
            width: fit-content;
            border: 5px solid black;
            padding-left: 25px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 5px
        }
.freezer{font-size: 20;
    background-color: rgb(124, 109, 90);
    border: 5px solid black;
    border-radius: 15px;
    color: white;
    padding-left: 25px;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 15px;

}
img{width: fit-content;
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;}
